@using SofaFactory.Helper;
@model Domain.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Shop_Layout.cshtml";
    ViewBag.BreadcrumbTitle = " Delete";
    ViewBag.PageTitle = "Product / Delete";
    var method = ViewBag.Method == "Delete";
    var p = Model;
}
<partial name="~/Views/Shared/_breadcrumb.cshtml" />

<div class="container-fluid px-5 py-5">
    <h5>Are you sure you want to delete this?</h5>
    <div class="row">
        @{
            var discount = p.DiscountType == Domain.Models.DiscountType.Flat ? p.Discount : (p.Price / 100) * p.Discount;
            var amt = p.Price - (discount);
            var discountRate = discount * 100 / (p.Price);
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="product-cards mb-2 position-relative" data-id="fabric-rec-sofa-set" data-category="fabric 1-seater">
                    <a href="/Products/Details/@p.ProductId">
                        <img class="card-img-top p-2" src="@p.ProductImages.First().Image.Src" alt="Card image" style="width:100%">
                    </a>
                    <div class="card-body">
                        <a class="sofa-sub-heads" href="/Products/Details/@p.ProductId">@p.Name</a>
                        <p class="sofa-sub-head my-2">
                            <strong>₹ @amt.ToString("0.00")</strong> &nbsp;&nbsp;
                            <del>₹ @p.Price.ToString("0.00")</del> <strong class="text-success">&nbsp;&nbsp;@discountRate %</strong>
                        </p>
                        <p class="save-percent mb-1">You save ₹@discount.ToString("0.00")</p>
                        <div class="checkout-rating mb-1">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa-solid fa-star-half-stroke haif-unchecked"></span>
                        </div>
                        <a class="sofa-sub-head" href="">EMI from ₹@p.Emi.ToString("0.00")</a>
                    </div>

                    


                </div>
            </div>
        }
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </form>
</div>

